:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  /* Mobile optimizations */
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

/*
Force the Google Picker on top of our modals.
This version is the most robust as the domain is unlikely to change, and we'd
need to update our CSP header anyway.
*/
div:has(iframe[src^='https://docs.google.com/']) {
  z-index: 10001 !important;
}

/*
This version is more brittle but works in browsers that don't support the
:has() selector (which has been supported by all major browsers since Dec 2023).
*/
div.picker {
  z-index: 10001 !important;
}
